<!DOCTYPE html>
{% load i18n satchmo_currency %}
<html>
  <head>
    <title>
      {% blocktrans with order_id=order.id shop_name=shopDetails.store_name %}
        {{shop_name}} ― Packing slip for order #{{order_id}}
      {% endblocktrans %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">/*<![CDATA[*/
    {% include "shop/docs/html/styles.css" %}
    /*]]>*/</style>
  </head>
  <body>
    {% include "shop/docs/html/navbar.html" with document_name=_("Packing slip") %}
    <div id="wrapper">
      {% include "shop/docs/html/header.html" %}
      <h1>
        {% blocktrans with order_id=order.id %}
        Order #{{order_id}}
        {% endblocktrans %}
      </h1>

      {% include "shop/docs/html/billing_and_shipping.html" %}

      <h2>{% trans "Ordered products" %}</h2>
      <table>
        <thead>
          <tr>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Quantity" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order.orderitem_set.all %}
          <tr>
            <td>{{item.product.name|fix_ampersands}}</td>
            <td>{{item.quantity}}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="2" class="alert">{% trans "No products!" %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>
        {% blocktrans %}
        No way hose!
        {% endblocktrans %}
      </p>
    </div>
  </body>
</html>
